@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

  *{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  h1{      
    font-size: 96px;
    line-height: 110px;
  }
  
  .container {
    display: flex;
    align-items: center;
    margin:  100px 140px 0 140px;
  }
  
  .text {
    width: 55%;
    padding: 20px;
  }
  .text p {
    font-weight: 400;
    font-size: 36px;
  }
  
  .image {
    width: 600px;
    height: 608px;
    border-radius: 41px;
    background-image: url(./img/pizza.jpg);
    background-size: cover;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .button-container {
    text-align: left;
    margin-top: 20px;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #F07F00;
    color: white;
    border-radius: 43px;
    text-decoration: none;
    width: 339px;
    height: 46px;
    font-size: 26px;
  }
  
  .button:hover {
    background-color: #F07F00;
  }
  
  
  .button:hover {
    background-color: #F07F00;
  }
 